.footer {
    background-color: black;
    margin-bottom: 0px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer p {
    color: white;
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}